.jumbotron {
  padding-top: 7rem;
  background-color: #76dbe9;
}

#Project {
  background-color: #76dbe9;
}

#Information {
  padding-top: 7rem;
  background-color: #76dbe9;
}

section {
  padding-top: 4rem;
}
